html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
}

.App {
  width: 100%;
  height: 100%;
}

button {
  padding: 10px 20px;
  font-size: 15px;
  border: none;
  border-radius: 32px;
  transition: opacity 0.5s;
}

button:hover {
  transition: opacity 0.5s;
  opacity: 0.85;
}

select {
  padding: 10px 25px;
  border-radius: 32px;
}

select:focus {
  outline: none;
}

textarea {
  resize: vertical;
  height: 200px !important;
}

.iti__flag {
  background-image: url("./commercial/phone/img/flags.png");
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .iti__flag {
    background-image: url("./commercial/phone/img/flags@2x.png");
  }
}

/* wrapper for 800x600 screen */

#allWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  background: url("./img/court.jpg") no-repeat center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.log-reg-buttons {
  margin-bottom: 10%;
  position: relative;
  color: white;
  text-align: center;
  padding: 10px;
  width: 300px;
}

.btn-container {
  width: 90%;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  -webkit-box-shadow: 0px 4px 0px #b36200;
  -moz-box-shadow: 0px 4px 0px #b36200;
  box-shadow: 0px 4px 0px #b36200;
  margin-bottom: 4px;
  text-decoration: none;
  position: absolute;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
}

.btn-container {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.btn-container:hover {
  text-decoration: none;
}

.start-btn {
  position: relative;
  width: 100%;
  height: 50px;
  margin-bottom: -20px;
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.btn-container:active {
  /** Remove 3D Block Effect on Click **/
  box-shadow: none;
  top: 4px !important;
  margin-bottom: 0 !important;
}

#allWrapper a:focus {
  outline: 0;
}

.btn-container {
  margin-top: 10px;
  margin-bottom: 10px;
}

.login-btn {
  background-color: #f58714;
  text-align: center;
  color: white;
  text-decoration: none;
}

.login-btn:hover {
  background-color: orange;
  color: white;
}

.reg-btn {
  background-color: white;
  text-align: center;
  color: orange;
  text-decoration: none;
  border: 2px solid #e5e5e5;
  -webkit-box-shadow: 0px 4px 0px #e5e5e5;
  -moz-box-shadow: 0px 4px 0px #e5e5e5;
  box-shadow: 0px 4px 0px #e5e5e5;
}

.reg-btn:hover {
  background-color: beige;
  color: orange;
}

.login-container {
  height: 100%;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-container {
  text-align: center;
  max-width: 400px;
}

.form {
  padding: 20px;
  padding-bottom: 50px;
  min-width: 400px;
}

.reg {
  max-width: 600px;
}

.field-wrapper {
  width: 100%;
  border-radius: 5px;
  background-color: white;
  overflow: hidden;
  display: inline-block;
  border: 1px solid #d2d4de;
}

.form-input {
  border: none;
  padding: 10px 15px;
  font: small-caption;
  font-size: 15px;
  font-size: 1.5rem;
  width: 100%;
  color: #34495e;
  outline: none;
  line-height: 1.5;
  height: 50px;
}

.field-wrapper:focus-within {
  border: 1px solid #f58714;
}

.password-wrap {
  width: calc(100% - 50px) !important;
}

#phone {
  padding-left: 0 !important;
  margin-left: 60px;
}

.iti {
  float: left;
}

.iti__selected-dial-code {
  display: none;
}

.icon-wrapper {
  position: relative;
  display: inline;
  float: right;
  width: 50px;
  height: 50px;
  background-color: #f58714;
  transition: background-color 0.25s ease-out;
  cursor: pointer;
  color: white;
}

.icon-wrapper:hover {
  transition: background-color 0.25s ease-out;
  background-color: orange;
}

.icon-wrapper i {
  font-size: 22px;
  position: absolute;
  top: 13px;
  right: 13px;
  transition: color 0.25s ease-out;
}

.label-error-wrapper {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 15px;
}

.input-label {
  float: left;
  font-weight: bold;
  display: flex;
  align-items: center;
  font-size: 12px;
}

.login-btn-confirm {
  background-color: #f58714;
  text-align: center;
  color: white;
  text-decoration: none;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 22px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  text-decoration: none;
  cursor: pointer;
  margin-top: 10%;
  -webkit-box-shadow: 0px 4px 0px #b36200;
  -moz-box-shadow: 0px 4px 0px #b36200;
  box-shadow: 0px 4px 0px #b36200;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none;
}

.login-btn-confirm:hover {
  background-color: orange;
}

.login-btn-confirm:focus {
  outline: none !important;
  background-color: orange !important;
}

.login-btn-confirm:active {
  box-shadow: none;
  transform: translateY(4px);
  background-color: orange !important;
}

.social-btn {
  background-color: white;
  text-align: center;
  color: white;
  text-decoration: none;
  width: 45%;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 22px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  text-decoration: none;
  cursor: pointer;
  margin-top: 30px;
  border: 2px solid #e5e5e5;
  -webkit-box-shadow: 0px 4px 0px #e5e5e5;
  -moz-box-shadow: 0px 4px 0px #e5e5e5;
  box-shadow: 0px 4px 0px #e5e5e5;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none;
  margin-right: 5px;
  margin-left: 5px;
}

.social-btn:hover {
  background-color: beige;
}

.social-btn:focus {
  outline: none;
}

.social-btn:active {
  box-shadow: none;
  transform: translateY(4px);
}

.social-btn img {
  margin-right: 10px;
}

.social-btn span {
  font-size: 15px;
  text-transform: uppercase;
  top: 0;
}

.fb-btn {
  color: #3b5998;
}

.google-btn {
  color: #4285f4;
}

.password-req {
  color: #d8000c;
  font-weight: bold;
  font-size: 13px;
}

.password-req li {
  margin-bottom: 15px;
}

.validPassword {
  color: #23dc3d !important;
}

.hr-text {
  margin-top: 15%;
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  &:before {
    content: "";
    // use the linear-gradient for the fading effect
    // use a solid background color for a solid bar
    background: #d2d4de;
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
  }
  &:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: black;
    color: #d2d4de;
    background-color: white;
    padding: 0 0.5em;
    line-height: 1.5em;
    // this is really the only tricky part, you need to specify the background color of the container
  }
}

.col-md-12 {
  margin: 0;
  padding: 0;
  padding-top: 30px;
}

.col-md-6 {
  padding-top: 30px;
}

.reg-links {
  margin-top: 50px;
}

.reg-links a {
  color: #f58714;
}

.forgot-info {
  color: #f58714;
  margin-left: 15px;
}

.forgot-info:hover {
  color: #f58714;
}

.password-desc {
  color: black;
  list-style: none;
}

.error {
  color: #d8000c;
  background-color: #ffbaba;
  border-radius: 5px;
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
  height: 35px;
  display: flex;
  align-items: center;
  opacity: 0;
  transition: opacity 0.6s;
  margin-left: 5px;
  position: relative;
}

.title-container h2 {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

.title-container a {
  float: left;
  font-size: 40px;
  color: #f58714;
  margin-left: 30px;
}

.title-container a:hover {
  color: orange;
}

#date::-webkit-inner-spin-button {
  display: none;
}

#date::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

#code-comf {
  display: none;
}

#code-comf p {
  text-align: left;
  margin-bottom: 30px;
}

#code-comf a {
  color: #f58714;
}

#code-comf a:hover {
  color: #f58714;
}

.confirm-password-btn {
  display: none;
}

#confirm-password {
  display: none;
  padding: 0;
}

#new-password {
  display: none;
  padding: 0;
}

#redirect-new-pass {
  display: none;
}

#redirect-new-pass a {
  color: #f58714;
}

#redirect-new-pass a:hover {
  color: #f58714;
}

#new-pass-req {
  display: none;
}

.home-navigation {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: beige;
  overflow-x: hidden;
  transition: 0.2s;
  padding-top: 60px;
}

.home-navigation a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.home-navigation a:hover {
  color: #f1f1f1;
}

.home-navigation .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.home-navigation .closebtn:focus {
  color: transparent;
}

.navigation-container {
  background-color: white;
  border-bottom: 1px solid #ededed;
  width: 100%;
  position: fixed;
  right: 0;
  transition: width 0.2s;
  padding: 10px 15px 10px 15px;
  display: inline-block;
  min-width: 130px;
  z-index: 10;
}

.navigation-container button:focus {
  outline: none;
}

.openNav {
  font-size: 20px;
  cursor: pointer;
  background-color: transparent;
  color: black;
  border: none;
  padding: 0;
}

.openNav:hover {
  color: #444;
  opacity: unset;
}

#main-content {
  transition: width 0.2s;
  float: right;
  width: 100%;
}

.inner-content {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 80px;
  padding-bottom: 50px;
  max-width: 1284px !important;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.navigation-container button {
  color: #c7c6c6;
  transition: color 0.5s;
}

.navigation-container button:hover {
  color: grey;
  transition: color 0.5s;
}

.navigation-container a {
  color: #c7c6c6;
  transition: color 0.5s;
}

.navigation-container a:hover {
  color: grey;
  transition: color 0.5s;
}

.add-video {
  font-size: 20px;
  cursor: pointer;
  background-color: transparent;
  color: black;
  border: none;
  float: right;
}

.video-upload-container {
  min-width: 400px;
}

.file-name {
  font-style: italic;
  color: #c7c6c6;
  display: inline-block;
}

.row {
  padding-left: 100px;
  padding-right: 100px;
}

.col-md-6 {
  padding-left: 0;
}

.thumbnail-preview {
  height: auto;
  width: 100%;
  max-height: 400px;
  max-width: 600px;
}

.upload {
  display: none;
}

.category {
  margin-left: 63%;
}

.thumbnail-upload-button {
  // background-color: #77dd77;
  background-color: #24a0ed;
  color: white;
  width: 100%;
}

#save-video {
  background-color: rgba(0, 197, 79, 0.9);
  width: 40%;
  color: white;
  float: right;
}

#abort-video {
  background-color: #e5e5e5;
  width: 40%;
}
@media screen and (max-width: 1024px) {
  #allWrapper {
    align-items: flex-end;
  }
  .btn-container {
    font-size: 15px;
  }
}

@media screen and (max-width: 667px) {
  .category {
    margin-left: 30%;
  }
}

@media screen and (max-width: 476px) {
  #save-video {
    width: 50%;
    
  }

  #abort-video {
    width: 40%;
  }
}

@media screen and (max-width: 568px) and (orientation: landscape) {
  .category {
    margin-left: 10%;
  }
}

@media screen and(max-width: 500px) {
  .form {
    min-width: 315px;
  }

  .category {
    margin-left: 0;
  }
}

@media screen and (max-width: 825px) {
  .form-container {
    height: 100%;
  }
}
